/*>>>>>>>> Reset <<<<<<<<<*/
$color-bold-blue: #00afef;
$color-blue: #46ccfd;
$color-gray: #7b7b7b;
@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/Open_Sans/OpenSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 1.75;
  width: 100%;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  padding: 0;
  line-height: 1.25;
}

a,
span {
  display: inline-block;
}

a {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: inherit;
}
a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.75;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  border-color: transparent;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.card {
  border: none;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
}

//////////////////Hero-area/////////////////
.container-fluid {
  padding: 0px !important;
}
.hero-area {
  .bg-shade-whisper {
    background: #dafcfb;
    background-image: url(../imgs/home/banner/banner10.png) !important;
    background-repeat: no-repeat, repeat;
  }
  .bg-pink-whisper {
    background: #ffe0f1;
    background-image: url(../imgs/home/banner/banner11.png) !important;
    background-repeat: no-repeat, repeat;
  }
  .home-content {
    border-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    @media (min-width: 768px) {
      padding-top: 0px;
      padding-bottom: 0px;
      min-height: 400px;
    }
    @media (min-width: 992px) {
      min-height: 440px;
    }
    @media (min-width: 1200px) {
      min-height: 410px;
    }
    @media (min-width: 1600px) {
      min-height: 560px;
    }
    h1 {
      color: #ff6046;
      text-transform: capitalize;
      font-weight: 600;
      position: relative;
      padding: 0;
      line-height: 1.2;
      margin-bottom: 20px;
      font-size: 22px;
      @media (min-width: 576px) {
        font-size: 30px;
      }
      @media (min-width: 768px) {
        line-height: 1.5;
        font-size: 40px;
      }
      @media (min-width: 1200px) {
        font-size: 45px;
      }
      @media (min-width: 1600px) {
        font-size: 60px;
      }
    }
    h2 {
      color: #ffc800;
      font-weight: 500;
      font-style: italic;
      text-transform: capitalize;
      margin: 0;
      line-height: 1.2;
      padding: 0;
      font-size: 16px;

      @media (min-width: 576px) {
        font-size: 16px;
      }
      @media (min-width: 768px) {
        font-size: 22px;
      }
      @media (min-width: 992px) {
        font-size: 22px;
      }
      @media (min-width: 1200px) {
        font-size: 30px;
      }
      @media (min-width: 1600px) {
        font-size: 40px;
      }
    }
    .btn {
      line-height: 40px;
      font-size: 13px;
      text-transform: capitalize;
      padding: 0 20px;
      min-height: 40px;
      margin-top: 57px;
      margin-bottom: 50px;

      @media (min-width: 576px) {
        padding: 0 30px;
        margin: 30px 0 50px 0;
      }
      @media (min-width: 1200px) {
        padding: 0 40px;
        min-height: 57px;
        font-size: 15px;
      }
    }
    .hero-partial-image {
      position: relative;
      margin-bottom: 10px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      @media (min-width: 480px) {
        width: 50%;
      }
      @media (min-width: 576px) {
        z-index: -1;
        position: absolute;
        width: 65%;
      }
      @media (min-width: 768px) {
        margin-top: 25px;
        top: 25px;
        width: 70%;
        bottom: auto;
        top: 0;
      }
      @media (min-width: 992px) {
        margin-left: 0;
        width: 58%;
      }
      @media (min-width: 1200px) {
        width: 58%;
      }
      @media (min-width: 1600px) {
        top: 35px;
        width: auto;
      }
      img {
        width: 100%;
      }
    }
    .image-left {
      right: 0;
      @media (min-width: 576px) {
        right: -75px;
      }

      @media (min-width: 768px) {
        margin-left: -20px;
        left: 0;
        right: auto;
        bottom: auto;
        width: 65%;
      }
      @media (min-width: 992px) {
        width: 58%;
        margin-left: 0px;
      }
      @media (min-width: 1200px) {
        width: 45%;
      }
      @media (min-width: 1600px) {
        width: auto;
        margin-left: -60px;
      }
    }

    .image-right {
      left: 0;

      @media (min-width: 576px) {
        left: auto;
        right: -75px;
      }
      @media (min-width: 768px) {
        right: 0;
        margin-right: 0px;
        width: 55%;
        margin-top: 50px;
      }
      @media (min-width: 1200px) {
        width: 50%;
        margin-right: 60px;
        margin-top: 10px;
      }
      @media (min-width: 1600px) {
        margin-right: 0px;
        width: auto;
      }
    }
    .content-right-side {
      @media (min-width: 1600px) {
        padding-left: 85px;
      }
    }
    .content-left-side {
      margin-left: 100px;
      @media (max-width: 998px) {
        margin-left: 0;
      }
    }
    @media (min-width: 1200px) {
      a {
        padding-top: 5px !important;
      }
    }
  }
  .slick-dots {
    margin-top: -50px !important;
  }
}

/////////////////Slider///////////////
//////////User Slick library////////////
.sb-slick-slider {
  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      font-size: 0;
      width: 11px;
      height: 11px;
      border-radius: 100%;
      background: #d3d3d3;
      margin: 4px;
      display: block;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      z-index: 999;
      button {
        font-size: 0;
      }
    }
    li.slick-active {
      background: $color-blue;
    }
  }
}

////////////////////age-home///////////////////

#age-section {
  text-align: center;
  padding-top: 15px;
  a {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }
  span {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
  }
}

///////////////Tab/////////////////

.section-padding {
  padding-bottom: 40px;
  margin-top: 50px;
}

.sb-custom-tab {
  text-align: center;
  .nav.nav-tabs {
    display: inline-flex;
    justify-content: center;
    border: 2px solid #e5e5e5;
    border-radius: 3px;

    .nav-item {
      font-size: 15px;
      color: #282828;
      line-height: 48px;
      text-transform: capitalize;
      font-weight: 700;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      padding: 0;
      background: #fff;
      position: relative;
      margin: 1px;
      border-radius: 3px;

      .nav-link {
        padding: 0 20px;
        border: 2px solid transparent;
        margin: -2px;
        transition: border-color 0s, color 0.4s;
        :hover {
          color: $color-blue;
        }
      }
      .nav-link.active,
      .nav-link.show {
        border-color: $color-blue;
        color: $color-blue;
      }

      .nav-link.active ~ .arrow-icon,
      .nav-link.show ~ .arrow-icon {
        opacity: 1;
      }
    }
  }
  .tab-content {
    > .tab-pane {
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: 0s;
      height: 0;
    }

    .tab-pane.show,
    .tab-pane.active {
      visibility: visible;
      opacity: 1;
      height: 100%;
    }
    > .active {
      display: block;
    }
  }
}
.size-16 {
  font-size: 16px;
}

#sale-banner {
  a {
    display: inline-block;
    width: 100%;
  }
}

////////////////Product discount//////////

.product-discount {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 0;
}
.shopping-cart-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.margin-img-tab {
  margin-top: 50px;
}

//coupon
.coupon {
  position: absolute;
  left: 20px;
  top: 10px;
  background: red;
  border-radius: 45px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  text-align: center;
  color: white;
}
.product-coupon {
  position: relative;
}

@media (max-width: 700px) {
  .coupon {
    width: 35px;
    height: 35px;
    left: 18px;
    font-size: 13px;
  }
}
@media (max-width: 230px) {
  .coupon {
    width: 30px;
    height: 30px;
    left: 15px;
    font-size: 11px;
  }
}
@media (max-width: 180px) {
  .coupon {
    width: 20px;
    height: 20px;
    left: 5px;
    padding-top: 3px;
    font-size: 8px;
  }
}
//////////////////Best saller///////////////
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

#best-saller-product {
  padding-top: 60px;
  @media (min-width: 768px) {
    padding-top: 80px;
  }
  .best-seller-block {
    background: #fff;
    border-radius: 3px;
    padding: 30px 0 15px;
    .banner-left {
      text-align: center;
      padding: 0 24px;
      img {
        width: 100%;
        @media (min-width: 992px) {
          margin-top: -30px !important;
        }
      }
      @media (min-width: 576px) {
        padding: 0 22px;
      }
      @media (min-width: 768px) {
        padding: 0;
      }
    }
    @media (min-width: 768px) {
      padding: 15px 0;
    }
    @media (min-width: 768px) {
      padding: 30px;
    }
  }
}

///////doll-robot//////////////
.margin-50 {
  margin-top: 50px;
}

.section-title {
  text-align: center;
  margin-top: -8px;
  margin-bottom: 30px;
  h2 {
    position: relative;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    color: #222222;
    font-weight: 600;
    font-size: 18px;

    @media (min-width: 992px) {
      font-size: 25px;
      padding-bottom: 31px;
    }
  }
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.section-title--bordered {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  h2 {
    position: relative;
    padding-bottom: 10px;
  }
}
.section-title--bordered h2:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: $color-blue
}

.reading-banner {
  height: 200px;
  a {
    height: 200px;
    display: block;
    position: relative;
    img {
      width: 100%;
    }
  }
  .hover-img:before {
    position: absolute;
    content: "";
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
  }
  .hover-img:hover:before {
    opacity: 0.2;
  }
}

// ///////// Product list page///////////
//////////////Breadcrumb////////
.breadcrumb-contents {
  .breadcrumb {
    background-color: transparent;
    padding: 20px 0;
    .breadcrumb-item {
      font-size: 14px;
      color: #333;
      a:hover {
        color: $color-blue;
      }
    }

    .breadcrumb-item.active a {
      color: $color-blue;
    }
  }
}

.shop-toolbar {
  border: 2px solid #eeeeee;
  margin-bottom: 30px;
  padding: 14px 20px 9px 20px;

  @media (min-width: 768px) {
    padding: 2.5px 20px;
  }
  @media (max-width: 200px) {
    padding: 0 !important;
    margin: 0 0 20px 0 !important;
  }
  .sorting-selection {
    padding: 6px 0px 6px 0px;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-left: 0;
    font-size: 14px;
    @media (max-width: 200px) {
      padding: 0 !important;
      margin: 20px 0 0 !important;
    }
    @media (min-width: 992px) {
      justify-content: flex-end;
    }
    .form-control {
      border: 1px solid transparent;
      border-radius: 4px;
      line-height: 24px;
      font-size: 14px;
      margin: 0;
      right: 0;
      height: 36px;
      width: auto;
      display: flex;
      align-items: center;
      color: #333333;
      @media (max-width: 230px) {
        width: 70px;
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }
}

@media (max-width: 230px) {
  .small-option {
    width: 70px;
  }
}

.pagination-block {
  font-size: 12px;
  font-weight: 400;
  border: 2px solid #ebebeb;
  display: flex;
  flex-wrap: wrap;

  .pagination-btns {
    display: flex;
    justify-content: center;
    flex: 100%;
    line-height: 28px;
    flex-wrap: wrap;

    @media (min-width: 480px) {
      line-height: normal;
    }
  }
}

/////////////pagination-block//////////////
.pagination-block {
  margin: 10px;
  .pagination-btns {
    li {
      position: relative;
    }
    li.active {
      .page {
        color: $color-blue;
        border: 2px solid $color-blue;
      }
    }
    .p-btn {
      color: #555;
      background: none;
      font-size: 16px;
      border: none;
      padding: 0;
      font-weight: 600;
      width: 54px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      margin: 5px 5px;
      border: 2px solid $color-gray;
      border-radius: 3px;
    }
    .page {
      border: 2px solid $color-gray;
    }
    .page:hover {
      color: $color-blue;
      border: 2px solid $color-blue;
    }
    .prev-btn,
    .next-btn {
      color: $color-blue;
      border: 2px solid $color-blue;
    }
  }
}

//sidebar
.left-sidebar-parent {
  .left-sidebar-title {
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    display: flex;
    font-size: 16px;
    font-weight: 600;
  }
  span {
    display: inline-block;
  }
  i {
    display: inline-block;
  }
  .left-sidebar-item {
    padding: 0px;
    display: block;
    border-bottom: 1px solid gray;
  }
}

@media (max-width: 576px) {
  .left-sidebar-title {
    span {
      text-align: center;
    }
    i {
      text-align: center;
    }
  }
  .left-sidebar-item {
    margin: 20px !important;
    text-align: center;
  }
}
.single-block {
  margin-bottom: 40px;
}
.single-block:last-child {
  margin-bottom: 0;
}

.sidebar-title {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 6px 0;
  text-align: left;
  font-weight: 700;
  display: block;
  line-height: 52px;
  background: $color-bold-blue;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}
.filter-sidebar {
  margin-bottom: 30px;
}
.range-slider-value {
  margin-top: 30px;
  div {
    font-weight: 600;
  }
}
@media (min-width: 200px) {
  .range-slider-value {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #cost-from,
  #cost-to {
    display: inline-block;
  }
}
.range-slider-widget {
  .ui-widget-header {
    background: $color-blue !important;
  }
  span {
    border-radius: 45px !important;
    background: $color-blue !important;
  }
  span:hover {
    border-radius: 45px !important;
  }
}

//checkbox
input.form-check-input {
  width: 20px;
  height: 20px;
  background-color: $color-blue;
  margin-right: 50px;
}
.form-check-label {
  margin-left: 20px;
}
.form-check {
  border-bottom: 1px solid $color-gray;
  padding-bottom: 10px;
}
.form-check-input:checked:before {
  background-color: green;
}

///////////////////blog item/////////////////
.card-text span::after {
  content: "|";
  padding: 0px 5px;
}

@media (max-width: 300px) {
  .blog-content {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }
}
